@import "../../styles/styles.scss";
.get_started {
  background-color: #e1edf9;

  @include medium {
    padding-top: rem(80);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include medium {
      flex-direction: column;
      gap: rem(20);
      align-items: unset;
    }
  }
  &__content,
  &__image {
    flex: 1 1 50%;
  }
  &__content {
    padding: 0 $padding__collumn;
    h1 {
      font-size: rem(38);
      font-weight: 700;
      margin-bottom: rem(60);

        @include large {
          font-size: rem(34);
        }
    

      @include medium {
        margin-top: rem(60);
        font-size: rem(32);
      }
    }
  }
  &__buttons {
    display: flex;
    gap: rem(20);
    @include medium {
      flex-wrap: wrap;
    }
    img {
      width: rem(200);
      max-width: 50%;
    }
  }
  &__image {
    img {
      position: relative;
      bottom: rem(-20);
      width: 100%;
      @include medium {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
      }

      @include small {
        max-width: 100%;
      }
    }
  }
}

.love_to_hear {
  background-color: white;
  position: relative;
  z-index: 1000;
  padding-top: rem(100);
  padding-bottom: rem(240);
  @include medium {
    padding-top: rem(40);
    padding-bottom: rem(180);
  }
  @include small {
    padding-bottom: rem(150);
  }
  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    @include medium {
      grid-template-columns: repeat(2, 1fr);
    }
    @include small {
      grid-template-columns: 1fr;
      gap: rem(60);
    }
  }
  &__box-left {
    padding: 0 $padding__collumn;
    @include medium {
      grid-column: 1 / span 2;
      margin-top: rem(60);
    }
    @include small {
      grid-column: 1;
      margin-top: 0;
    }
    h1 {
      margin-bottom: rem(40);
    }
    p {
      margin-bottom: rem(30);
      color: #2f4356;
    }
    button {
      margin-top: rem(50);
      border: 1px solid #20976c;
      color: #20976c;
      path {
        stroke: #20976c;
      }
    }
  }
  &__box-right {
    &-item {
      padding: 0 $padding__collumn;
      &-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ddeeff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(20);
      }
      h3 {
        font-size: rem(20);
        font-weight: 700;
        margin-bottom: rem(20);
      }
      p {
        color: #2f4356;
        line-height: rem(25);
        margin-bottom: rem(30);
      }
      a {
        color: #20976c;
        font-size: rem(14);
        font-weight: 500;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: rem(10);
        span {
          &:after {
            background-color: #20976c;
          }
        }
        path {
          stroke: #20976c;
        }
      }
    }
  }
}
