@import '../../styles/styles.scss';

.stripe_layout {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    &__item {
        border-left: 1px dashed rgb(101, 101, 101);
        flex: 1 1 25%;
        height: 100vh;
        width: 100%;
        &:last-child {
            border-right: 1px dashed rgb(101, 101, 101);
        }
        opacity: 0.075;
    }
}

#root {
    position: relative;
}