@import "../../styles/styles.scss";

$stripe_border__color: rgb(101, 101, 101);

#root {
  position: relative;
}

.stripe_layout {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  pointer-events: none;

  @include medium {
    grid-template-columns: auto auto;
  }

  @include small {
    grid-template-columns: auto;
  }

  $line_color: rgba(101, 101, 101);

  &__item {
    border-left: 1px dashed $line_color;
    height: 100vh;
    width: 100%;
    opacity: 0.1;

    &:first-child {
      border-left: 1px solid $line_color;
    }

    &:last-child {
      border-right: 1px solid $line_color;
    }

    @include medium {
      &:nth-child(2) {
        border-right: 1px solid $line_color;
      }
    }

    @include small {
      &:first-child {
        border-right: 1px solid $line_color;
      }
    }
  }
}
