@import "../../styles/styles.scss";

.plans {
  &__pricing {
    display: grid;
    grid-template-rows: repeat(3, auto);
    // gap: $grid__gap;
    padding: 0 $padding__column;
    grid-auto-flow: column;
    column-gap: $padding__column--x2;

    @include large {
      grid-template-rows: repeat(6, auto);
    }

    @include small {
      grid-template-rows: repeat(9, auto);
    }
  }
}

.pricing_box {
  padding: 0 rem(40);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--top {
    padding-top: rem(40);
    border-top-right-radius: rem(20);
    border-top-left-radius: rem(20);
  }
  &--bottom {
    padding-bottom: rem(40);
    border-bottom-right-radius: rem(20);
    border-bottom-left-radius: rem(20);

    @include large {
      margin-bottom: $padding__column--x2;
    }
  }

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: rem(10);
      margin-top: rem(10);

      span {
        letter-spacing: 0.005rem;
        line-height: rem(25);
      }

      svg {
        width: rem(18);
        min-width: rem(18);
      }
    }
  }

  &--grey {
    background-color: #f6f6f6;
    @include large {
      grid-column: 1 / span 2;

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(32);
      }
    }

    @include small {
      grid-column: unset;
      ul {
        display: block;
      }
    }
  }
  &--green {
    background-color: #def6ec;
  }
  &--blue {
    background-color: #f0f8ff;
  }

  &__bottom {
    button {
      width: 100%;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: rem(14);
    font-size: rem(28);
    font-weight: 500;
  }

  &__description {
    margin-top: 0;
    margin-bottom: rem(24);
  }

  &__price {
    margin-top: 0;
    margin-bottom: rem(24);

    &-bt {
      font-family: GothamRoundedBold, sans-serif;
      font-size: rem(34);
    }

    &-forever {
      color: $color_secondary__text;
    }

    &-sub {
      text-transform: uppercase;
      font-size: rem(14);
      letter-spacing: 0.014rem;
      margin-top: rem(44);
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
  }

  &__dot {
    margin: auto;
    margin-bottom: rem(28);
    width: rem(25);
    height: rem(25);
    border-radius: 50%;
    background-color: #aeb4ba;
    outline: rem(12.5) solid hsla(210, 8%, 71%, 0.2);

    &--blue {
      background-color: $color__primary;
      outline: rem(12.5) solid hsla(209, 89%, 37%, 0.2);
    }

    &--green {
      background-color: $color__success;
      outline: rem(12.5) solid hsla(158, 65%, 36%, 0.2);
    }
  }
}

.tick {
  &--green {
    path {
      fill: $color__success;
    }
  }

  &--blue {
    path {
      fill: $color__primary;
    }
  }
}
