@import "../../styles/styles.scss";
$color_white: #fff;
$color_green: #20976c;
$color_blue: #0a61b4;
$color_dark-blue: #031a30;
.pricing {
    .hero {
        position: relative;
        height: rem(808);
        padding-bottom: rem(140);
        background: linear-gradient(90.4deg, #059459 0.35%, #034f2f 99.66%);
        &::before {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: url("../../assets/images/pricing-personal-bg.png");
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: contain;
            content: "";
        }
        &__wrapper {
            padding-top: rem(150);
        }
        &__top {
            padding: 0 $padding__collumn;
            text-align: center;
            color: $color_white;
            &-name {
                font-size: rem(14);
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.14em;
                opacity: 0.5;
            }
            &-title {
                margin: rem(24) 0 rem(60);
                font-size: rem(38);
            }
            &__tabs {
                width: rem(278);
                height: rem(50);
                margin: 0 auto rem(76);
                border-radius: rem(25);
                background: rgba(255, 255, 255, 0.2);
                align-items: flex-end;
                &>a {
                    display: inline-block;
                    position: relative;
                    top: rem(2.8);
                    left: rem(1.5);
                    width: rem(137);
                    height: rem(44);
                    border-radius: rem(22);
                    font-size: rem(14);
                    font-weight: 600;
                    line-height: rem(44);
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 0.14em;
                    &:hover,
                    focus {
                        color: $color_dark-blue;
                        transition: 0.3s all;
                    }
                }
                &-personal {
                    background: $color_white;
                    color: $color_green;
                    //pointer-events: none;
                }
                &-business {
                    color: $color_white;
                }
            }
        }
        &__plans {
            display: flex;
            column-count: 3;
            align-items: flex-end;
            width: 100%;
            margin: 0;
            padding-left: 0;
            list-style: none;
            &__list {
                flex: calc(100% / 3);
                position: relative;
                height: rem(640);
                padding: rem(40) $padding__collumn;
                border-radius: rem(20);
                text-align: center;
                box-sizing: border-box;
                z-index: 1001;
                &__inner {
                    width: 90%;
                    margin: 0 auto;
                }
                &-text {
                    display: block;
                    margin-bottom: rem(18);
                    font-size: rem(14);
                    font-weight: 600;
                    font-style: normal;
                    color: $color_green;
                    text-transform: uppercase;
                    letter-spacing: 0.14em;
                }
                &-icon {
                    display: block;
                    overflow: hidden;
                    width: rem(50);
                    height: rem(50);
                    border-radius: 100%;
                    margin: 0 auto;
                    text-indent: -99999em;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &-name {
                    font-size: rem(28);
                }
                &-description {
                    margin: rem(14) 0 rem(24);
                    font-size: rem(16);
                    line-height: rem(25);
                    color: #2f4356;
                }
                &-cost {
                    display: block;
                    margin-bottom: rem(28);
                    font-family: GothamRoundedBold, sans-serif;
                    font-size: rem(34);
                    >span {
                        font-size: rem(16);
                        font-family: Inter, sans-serif;
                        font-weight: normal;
                        font-style: normal;
                        color: #2f4356;
                    }
                }
                .button {
                    width: 100%;
                    height: rem(45);
                }
                &-benefits {
                    margin-top: rem(40);
                    text-align: left;
                    &>dt {
                        padding-bottom: rem(18);
                        font-size: rem(14);
                        font-weight: 600;
                        color: #8594a3;
                        letter-spacing: 0.14em;
                        text-transform: uppercase;
                    }
                    &>dd {
                        margin-left: 0;
                        margin-bottom: rem(18);
                        padding-left: rem(30);
                        background-repeat: no-repeat;
                        background-position: left 0 center;
                        font-size: rem(16);
                    }
                }
                &.free {
                    background: #f6f6f6;
                    .hero__plans__list-icon {
                        background-image: url("../../assets/images/pricing-free-icon.png");
                    }
                    .hero__plans__list-benefits>dd {
                        background-image: url("../../assets/images/icon-pricing-free.svg");
                    }
                }
                &.premium {
                    height: rem(675);
                    margin: 0 rem(30);
                    background: #def6ec;
                    .hero__plans__list-icon {
                        background-image: url("../../assets/images/pricing-premium-icon.png");
                    }
                    .hero__plans__list-benefits>dd {
                        background-image: url("../../assets/images/icon-pricing-premium.svg");
                    }
                }
                &.family {
                    background: #f0f8ff;
                    .hero__plans__list-icon {
                        background-image: url("../../assets/images/pricing-family-icon.png");
                    }
                    .hero__plans__list-benefits>dd {
                        background-image: url("../../assets/images/icon-pricing-family.svg");
                    }
                }
            }
        }
    }
    .data_credit {
        position: relative;
        padding-top: rem(300);
        padding-bottom: rem(240);
        &-name {
            font-size: rem(14);
            font-weight: bold;
            color: #0a61b4;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.14em;
        }
        &-title {
            margin: rem(24) auto rem(60);
            font-size: rem(38);
            text-align: center;
        }
        &__cards {
            display: flex;
            flex: 100%/3;
            column-count: 3;
            margin: 0;
            padding-left: 0;
            list-style: none;
            box-sizing: border-box;
            &__list {
                position: relative;
                width: 100%;
                height: rem(230);
                padding: rem(30);
                border-radius: rem(20);
                color: $color_white;
                box-sizing: border-box;
                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient( 151.18deg, rgba(255, 255, 255, 0.19) 10.04%, rgba(255, 255, 255, 0) 82.26%);
                    content: "";
                }
                &::after {
                    display: block;
                    position: absolute;
                    top: rem(30);
                    left: rem(30);
                    width: rem(48);
                    height: rem(48);
                    border-radius: 100%;
                    background: rgba(217, 217, 217, 0.4);
                    content: "";
                }
                &-cost {
                    display: block;
                    text-align: right;
                    font-family: GothamRoundedBold, sans-serif;
                    font-size: rem(34);
                    margin-bottom: rem(46);
                }
                &-point {
                    display: block;
                    text-align: left;
                    font-family: GothamRoundedBold, sans-serif;
                    font-size: rem(42);
                }
                &-text {
                    display: block;
                    font-size: rem(16);
                    text-align: left;
                }
                &.one {
                    background: linear-gradient( 121.56deg, #aeb4ba 23.97%, #959aa0 39.2%, #9ca0a4 45.42%, #858a8f 52.19%, #4f5256 85.28%);
                }
                &.two {
                    margin: 0 rem(30);
                    background: linear-gradient( 121.56deg, #059459 23.97%, #0a9f62 39.2%, #1faf74 45.42%, #0a9f62 52.19%, #034f2f 85.28%);
                }
                &.three {
                    background: linear-gradient( 121.56deg, #0a61b4 23.97%, #1972c8 39.2%, #3289de 45.42%, #1972c8 52.19%, #074581 85.28%);
                }
            }
        }
    }
    .compare_plans {
        position: relative;
    }
    .frequently_ask {
        position: relative;
    }
    .ready_to_get {
        position: relative;
    }
}