@import "../../styles//styles.scss";

$color_white: #fff;
$color_blue: $color__primary;
$color_light-grey: #f6f6f6;
$color_grey: #2f4356;

.data_security {
  .hero {
    position: relative;
    padding-top: rem(100);
    background: linear-gradient(90.32deg, #0a61b4 0.35%, #074581 99.81%);
    &__wrapper {
      padding: rem(60) $padding__column;
      text-align: center;
      box-sizing: border-box;
      @include medium {
        flex-direction: column;
        padding-top: rem(40);
        padding-bottom: rem(100);
      }
    }
    &__name {
      margin: rem(20) 0;
      opacity: 50%;
      letter-spacing: rem(2);
      font-weight: 600;
      font-size: rem(14);
      text-transform: uppercase;
      @include medium {
        margin-top: rem(50);
        margin-bottom: rem(40);
      }
      @include small {
        margin-top: rem(50);
      }
    }
    &__content {
      color: $color_white;

      h1 {
        max-width: 100%;
      }
    }
    &__title {
      font-size: rem(42);
      margin-bottom: rem(24);
      margin-top: 0;
      @include extraLarge {
        font-size: rem(38);
      }
      @include large {
        font-size: rem(34);
      }
      @include medium {
        font-size: rem(42);
      }
      @include small {
        font-size: rem(36);
      }
      @include extraSmall {
        font-size: rem(28);
      }
    }
  }
  &__data {
    background-color: $color__light-blue;
    &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      @include medium {
        padding-top: rem(60);
        padding-bottom: rem(60);
      }

      @include small {
        grid-template-columns: 1fr;
      }
    }

    &-illustration {
      position: relative;
      bottom: -120px;
      margin: auto;

      @include medium {
        bottom: 0;
      }

      &-img {
        max-width: 100%;
      }
    }

    &-illustration,
    &-security {
      padding: 0 $padding__column;
    }

    &-name {
      color: $color__success;
    }
  }
}

.data_access {
  &__wrapper {
    padding: rem(120) $padding__column;
  }

  &__name {
    color: $color__success;
    text-align: center;
  }

  &__title {
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(30);
    margin: 0 rem(65);
    margin-top: rem(60);

    @include medium {
      $margin: 0;
      margin-left: $margin;
      margin-right: $margin;
    }

    @include small {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    padding: rem(40);
    background-color: #f6f6f6;
    border-radius: rem(20);

    @include medium {
        padding: rem(30);
    }

    &-description {
      margin-bottom: 0;
    }
  }
}
