@import "../../styles/styles.scss";

.button {
  padding: rem(12) rem(26);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  cursor: pointer;
  transition: 0.25s ease-in-out;
  border-radius: rem(100);

  &__text {
    display: block;
    font-size: rem(16);
    white-space: nowrap;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid black;
    transition: 0.25s ease-in-out;
    border: 1px solid white;

    &:hover {
      background-color: $color_main__dark-gunmetal--opacity-05;
    }
  }

  &__arrow {
    path {
      stroke: black;
    }

    &--none {
      display: none;
    }
  }

  &--flat {
    background-color: #20976C;
    border: none;

    &:hover {
      background-color: darken(#20976C, 5%);
    }
  }

  &--white {
    color: white;

    .button__text {
      color: white;
    }

    .button__arrow {
      path {
        stroke: white;
      }
    }
  }
}

.triangle_right {

  &--none {
    display: none;
  }
}
