@import "../../styles/styles.scss";
.out-box {
    display: flex;
    direction: rtl;
    @include medium {
        flex-direction: column;
    }
    @include small {
        color: red;
    }
}

.first-box,
.second-box {
    direction: ltr;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
}