@import "../../styles/styles.scss";
$color_white: #fff;
$color_green: #20976c;
$color_blue: #0a61b4;
$color_dark-blue: #031a30;
$color-light-blue: #e1edf9;
$color_grey: #2f4356;
$color_purple: #2d4bb6;
.company {
    .hero {
        position: relative;
        padding-top: rem(100);
        &__wrapper {
            display: flex;
            position: relative;
            padding-top: rem(100);
            padding-bottom: rem(160);
            background-image: url("../../assets/images/company-hero.svg");
            background-repeat: no-repeat;
            background-position: center bottom 0;
            background-size: auto 200px;
            text-align: center;
            box-sizing: border-box;
            @include large {
                padding-right: 0;
                padding-bottom: 22%;
            }
            @include medium {
                padding-top: rem(10);
                padding-bottom: 27%;
            }
            @include small {
                padding-top: 0;
            }
        }
        &__content {
            flex: 50%;
            padding: 0 $padding__collumn;
            text-align: left;
            color: $color_grey;
            box-sizing: border-box;
            @include large {
                padding: 0 5%;
            }
            @include small {
                flex: 100%;
            }
            h1,
            p {
                max-width: 100%;
            }
        }
        &__name {
            margin: rem(20) 0;
            font-weight: 600;
            font-size: rem(14);
            color: $color_purple;
            text-transform: uppercase;
            letter-spacing: rem(2);
            @include medium {
                margin-top: rem(50);
                margin-bottom: rem(40);
            }
            @include small {
                margin-top: rem(50);
            }
        }
        &__title {
            margin-bottom: rem(24);
            margin-top: 0;
            font-size: rem(42);
            @include extraLarge {
                font-size: rem(38);
            }
            @include large {
                font-size: rem(34);
            }
            @include medium {
                font-size: rem(42);
            }
            @include small {
                font-size: rem(36);
            }
            @include extraSmall {
                font-size: rem(28);
            }
        }
        &__description {
            margin-bottom: rem(50);
            line-height: rem(25);
        }
        &__image {
            flex: 50%;
            @include small {
                flex: 100%;
            }
            &>img {
                display: inline-block;
                position: relative;
                top: 10%;
                width: 80%;
                margin: 0 auto;
                @include medium {
                    top: 27%;
                }
            }
        }
    }
    .vision {
        &__wrapper {
            display: flex;
            position: relative;
            padding-top: rem(100);
            padding-bottom: rem(160);
            text-align: center;
            box-sizing: border-box;
            @include large {
                padding-top: rem(30);
                padding-right: 0;
                padding-bottom: 10%;
            }
            @include medium {
                padding-top: 0;
                padding-bottom: 5%;
            }
            @include small {
                padding-top: rem(10);
            }
        }
        &__image {
            flex: 1 1 50%;
            &>img {
                display: inline-block;
                width: 90%;
                margin: 0 auto;
                @include medium {
                    position: relative;
                    top: 20%;
                }
            }
        }
        &__content {
            flex: 1 1 50%;
            padding: 0 $padding__collumn;
            text-align: left;
            color: $color_grey;
            box-sizing: border-box;
            @include large {
                padding: 0 5%;
            }
            h1,
            p {
                max-width: 100%;
            }
        }
        &__name {
            margin: rem(20) 0;
            font-weight: 600;
            font-size: rem(14);
            color: $color_blue;
            text-transform: uppercase;
            letter-spacing: rem(2);
            @include medium {
                margin-top: rem(50);
                margin-bottom: rem(40);
            }
            @include small {
                margin-top: rem(50);
            }
        }
        &__title {
            margin-bottom: rem(24);
            margin-top: 0;
            font-size: rem(42);
            @include extraLarge {
                font-size: rem(38);
            }
            @include large {
                font-size: rem(34);
            }
            @include medium {
                font-size: rem(42);
            }
            @include small {
                font-size: rem(36);
            }
            @include extraSmall {
                font-size: rem(28);
            }
        }
        &__description {
            margin-bottom: rem(50);
            line-height: rem(25);
        }
    }
    .video {
        .container {
            position: relative;
            &::before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: rem(400);
                background: $color-light-blue;
                transform: skewY(6deg);
                z-index: -1;
                content: "";
            }
        }
        &__wrapper {
            padding: rem(180) $padding__collumn rem(100);
            width: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            @include large {
                padding-top: rem(130);
            }
            &-link {
                display: block;
                position: relative;
                height: rem(540);
                @include large {
                    height: auto;
                }
                &::before {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $color_grey;
                    opacity: 0;
                    border-radius: rem(20);
                    content: "";
                    transition: all 0.5s ease-out;
                }
                &::after {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: rem(80);
                    height: rem(80);
                    border-radius: 100%;
                    background: url("../../assets/images/icon_play.svg") no-repeat center $color_white;
                    background-size: rem(45);
                    content: "";
                    transition: all 0.2s ease-out;
                }
                &:hover {
                    &::before {
                        opacity: 0.4;
                    }
                    &::after {
                        background-size: 80%;
                    }
                }
                &>img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    border-radius: rem(20);
                }
            }
        }
    }
    .team {
        padding: rem(60) 0 rem(250);
        position: relative;
        @include large {
            padding-top: 0;
        }
        @include small {
            padding-bottom: rem(140);
        }
        &__title {
            margin: 0 0 rem(23);
            font-size: rem(38);
            text-align: center;
        }
        &__box {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            padding-left: 0;
            &-list {
                flex: 25%;
                position: relative;
                max-width: 25%;
                height: auto;
                padding: 0 $padding__collumn;
                margin-top: rem(40);
                list-style: none;
                box-sizing: border-box;
                @include small {
                    flex: 50%;
                    max-width: 50%;
                }
                &-name {
                    display: block;
                    margin-top: rem(20);
                    font-family: GothamRoundedBold;
                    font-size: rem(16);
                }
                &-position {
                    padding-top: rem(4);
                    font-size: rem(12);
                    color: $color_grey;
                }
                &-link {
                    display: block;
                    position: absolute;
                    top: rem(16);
                    right: rem(32);
                    width: rem(35);
                    height: rem(35);
                    border-radius: 100%;
                    z-index: 1001;
                    &::before {
                        display: inline-block;
                        position: relative;
                        top: 50%;
                        left: 50%;
                        width: rem(25);
                        height: rem(25);
                        transform: translate(-50%, -50%);
                        background-color: $color_blue;
                        border-radius: 100%;
                        content: "";
                    }
                    &::after {
                        display: inline-block;
                        position: relative;
                        top: -74%;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url("../../assets/images/icon_linkedin.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        content: "";
                    }
                }
            }
            &-list.green {
                .team__box__inner::before {
                    background: linear-gradient(97.09deg, #059459 11.4%, #034228 116.61%);
                }
                .team__box-list-link::before {
                    background-color: #05804d;
                }
            }
            &__inner {
                overflow: hidden;
                position: relative;
                padding: rem(60) rem(16) 0;
                height: rem(210);
                background: $color-light-blue;
                border-radius: rem(16);
                @include large {
                    height: rem(180);
                }
                @include medium {
                    height: rem(100);
                }
                @include small {
                    height: rem(180);
                }
                @include extraSmall {
                    height: rem(120);
                }
                &::before {
                    display: block;
                    position: absolute;
                    left: rem(18);
                    bottom: -18%;
                    width: 92%;
                    height: rem(150);
                    background: linear-gradient( 104.14deg, #0a61b4 20.63%, #074581 177.09%);
                    border-top-left-radius: rem(15);
                    transform: skewY(6deg);
                    content: "";
                    @include medium {
                        height: rem(100);
                    }
                    @include small {
                        bottom: -10%;
                        height: rem(150);
                    }
                    @include extraSmall {
                        height: rem(70);
                    }
                }
                &-img {
                    display: inline-block;
                    position: absolute;
                    left: 10%;
                    bottom: rem(-5);
                    width: 80%;
                    z-index: 1000;
                }
            }
        }
    }
    .diversity {
        position: relative;
        background: $color_dark-blue;
        &__wrapper {
            color: $color_white;
            @include large {
                padding-bottom: rem(100);
            }
            @include medium {
                padding-bottom: rem(140);
            }
            @include small {
                padding-top: rem(80);
                padding-bottom: 0;
            }
        }
        &__title {
            margin: 0;
            padding: 0 $padding__collumn rem(50);
            font-size: rem(38);
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            &-description {
                flex: 50%;
                padding: 0 $padding__collumn;
                margin-top: 0;
                font-size: rem(16);
                line-height: rem(25);
                box-sizing: border-box;
                @include small {
                    flex: 100%;
                }
            }
            &-image {
                flex: 50%;
                padding: 0 $padding__collumn;
                box-sizing: border-box;
                @include small {
                    flex: 100%;
                }
                &>img {
                    width: 100%;
                }
            }
        }
    }
    .ready_to_get {
        @include large {
            padding-top: 0;
        }
    }
    .ready_to_get__box-left {
        @include large {
            margin-top: 0;
        }
    }
}