@import "../../styles/styles.scss";
$color_white: #fff;
$color_green: $color__success;
$color_blue: $color__primary;
$color_dark-blue: #031a30;
$color-light-blue: #e1edf9;
$color_grey: #2f4356;
$color_purple: #2d4bb6;
.company {
  .hero {
    padding-top: rem(150);

    &__wrapper {
      display: flex;
      direction: rtl;

      @include medium {
        direction: ltr;
        flex-direction: column;
      }
    }

    &__content,
    &__image {
      flex: 1 1 50%;
      padding: 0 $padding__column;
      direction: ltr;
    }

    &__name {
      color: #2d4bb6;
    }

    &__image {
      position: relative;
      z-index: 1200;

      &-mask {
        position: absolute;
        left: 50%;
        bottom: -80px;
        transform: skewY(6.5deg) translateX(-50%);
        border-radius: rem(20);
        width: 80%;
        height: 320px;
        overflow: hidden;

        @include medium {
          position: relative;
          bottom: 0;
          margin-top: rem(20);
          margin-bottom: rem(20);
        }

        @include small {
          width: 100%;
        }
      }

      &-illustration {
        object-fit: cover;
        position: absolute;
        left: -5%;
        top: -10%;
        width: 110%;
        height: 120%;
        transform: skewY(-6.5deg);
      }
    }

    &__background {
      transform: skewY(6.5deg);

      &-left {
        position: relative;
        left: 50%;
        background: linear-gradient(97.09deg, #059459 11.4%, #034228 116.61%);
        width: 50%;
        height: rem(100);
        border-top-left-radius: rem(20);
      }

      &-right {
        background: linear-gradient(261.67deg, #0a61b4 6.25%, #074581 91.85%);
        width: 50%;
        height: rem(100);
        border-bottom-right-radius: rem(20);
      }

      @include medium {
        &-left {
          left: 60%;
          width: 40%;
          height: rem(80);
        }

        &-right {
          width: 60%;
          height: rem(80);
        }
      }
    }
  }
}

.vision {
  padding-top: rem(120);

  @include medium {
    padding-top: rem(20);
  }

  &__wrapper {
    display: flex;

    @include medium {
      flex-direction: column;
    }
  }

  &__image,
  &__content {
    flex: 1 1 50%;
    padding: 0 $padding__column;
    box-sizing: border-box;
  }
  &__image {
    position: relative;
    z-index: 1200;

    @include medium {
      margin-bottom: rem(60);
    }

    &-mask {
      position: absolute;
      transform: skewY(6.5deg);
      border-radius: rem(20);
      overflow: hidden;

      &-vision {
        width: 60%;
        height: rem(320);
        right: $padding__column;
        bottom: 0;
      }

      &-about {
        width: 40%;
        height: rem(200);
        bottom: 0;
        left: $padding__column;
      }
    }

    &-illustration {
      object-fit: cover;
      position: absolute;
      left: -5%;
      top: -10%;
      width: 110%;
      height: 120%;
      transform: skewY(-6.5deg);
    }
  }

  &__name {
    color: $color_purple;
  }
}

.company_video {
  position: relative;
  margin-top: rem(100);
  margin-bottom: rem(150);

  @include medium {
    margin-bottom: rem(100);
  }
  @include small {
    margin-bottom: rem(50);
  }

  &__iframe {
    width: 100%;
    box-sizing: border-box;
    border-radius: rem(20);
  }

  &__box {
    position: relative;
    padding: 0 $padding__column;
    box-sizing: border-box;
    top: rem(150);

    @include medium {
      top: rem(100);
    }
    @include small {
      top: rem(50);
    }
  }

  &__background {
    position: absolute;
    height: 90%;
    width: 100%;
    background-color: $color__light-blue;
    top: 0;
    z-index: -1000;
    transform: skewY(6.5deg);
  }
}

.meet {
  padding-top: rem(50);

  &__title {
    text-align: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 $padding__column;
    gap: $padding__column--x2;
    padding-top: 1rem;

    @include medium {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small {
      gap: $padding__column;
    }

    @include extraSmall {
      grid-template-columns: 1fr;
    }
  }

  &_item {
    &__image {
      position: relative;
      background-color: $color-light-blue;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: rem(20);
      overflow: hidden;
    }

    &__icon-box {
      background-color: white;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      align-self: flex-end;
      margin-top: rem(20);
      margin-right: rem(20);
    }

    &__picture {
      position: relative;
      display: block;
      max-width: 80%;
      height: rem(180);
      object-fit: cover;
      z-index: 1000;
      bottom: -1px;
    }

    &__background {
      position: absolute;
      bottom: -15%;
      left: $padding__column;
      height: 50%;
      width: 100%;
      transform: skewY(6.5deg);
      border-top-left-radius: rem(20);
    }

    &__name {
      margin-top: rem(24);
      margin-bottom: rem(8);
    }

    &__position {
      margin-top: 0;
    }
  }
}

.diversity {
  transform: skewY(6.5deg);
  background-color: $color_main__text;
  color: white;
  margin-top: rem(100);
  // margin-bottom: rem(100);
  overflow: hidden;
  &__wrapper {
    display: flex;
    transform: skewY(-6.5deg);

    @include medium {
      flex-direction: column;
    }
  }

  &__content,
  &__image {
    flex: 1 1 50%;
    padding: 0 $padding__column;
  }

  &__content {
    position: relative;
    padding-top: rem(80);
    padding-bottom: rem(120);
    z-index: 1200;
    background-color: $color_main__text;

    @include medium {
      padding-bottom: rem(20);
    }
  }

  &__image {
    position: relative;
  }

  &__illustration {
    position: absolute;
    left: 60%;
    top: 75%;
    transform: translate(-50%, -50%);
    width: 135%;
    z-index: 1000;

    @include medium {
      position: relative;
      left: 50%;
      top: unset;
      bottom: rem(-50);
      transform: translateX(-50%);
    }
  }

  &__background-gradient {
    position: absolute;
    left: 50vw;
    width: 50vw;
    height: rem(200);
    bottom: 0;
    background: linear-gradient(
      108.19deg,
      rgba(8, 66, 130, 0.5) 8.36%,
      rgba(11, 97, 181, 0.6) 78.73%
    );
    border-top-left-radius: rem(20);
    z-index: -800;

    @include medium {
      width: 100vw;
      left: $padding__column;
    }
  }

  &__description {
    opacity: 0.9;
  }
}
