@import "../../styles/styles.scss";
$color_white: #fff;
$color_blue: $color__primary;
$color_light-grey: #f6f6f6;
$color_grey: #2f4356;
.legal {
  .hero {
    position: relative;
    padding-top: rem(100);
    background: linear-gradient(90.32deg, #0a61b4 0.35%, #074581 99.81%);
    &__wrapper {
      padding: rem(60) $padding__column;
      text-align: center;
      box-sizing: border-box;
      @include medium {
        flex-direction: column;
        padding-top: rem(40);
        padding-bottom: rem(100);
      }
    }
    &__name {
      margin: rem(20) 0;
      opacity: 50%;
      letter-spacing: rem(2);
      font-weight: 600;
      font-size: rem(14);
      text-transform: uppercase;
      @include medium {
        margin-top: rem(50);
        margin-bottom: rem(40);
      }
      @include small {
        margin-top: rem(50);
      }
    }
    &__content {
      color: $color_white;

      h1,
      p {
        max-width: 100%;
      }
    }
    &__title {
      font-size: rem(42);
      margin-bottom: rem(24);
      margin-top: 0;
      @include extraLarge {
        font-size: rem(38);
      }
      @include large {
        font-size: rem(34);
      }
      @include medium {
        font-size: rem(42);
      }
      @include small {
        font-size: rem(36);
      }
      @include extraSmall {
        font-size: rem(28);
      }
    }
    &__description {
      margin-bottom: rem(50);
    }
  }
  .category {
    position: relative;
    background-color: white;
    &__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row dense;
      box-sizing: border-box;
      margin: rem(80) 0;
      @include medium {
        grid-template-columns: repeat(2, 1fr);
      }
      @include small {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &__box {
      display: inline-grid;
      padding: $padding__column;
      // &:nth-child(1) {
      //   order: 2;
      // }
      // &:nth-child(2) {
      //   order: 5;
      //   grid-column-end: span 2;
      // }
      // &:nth-child(3) {
      //   order: 3;
      // }
      // &:nth-child(4) {
      //   order: 4;
      //   grid-column-end: span 2;
      // }
      // &:nth-child(5) {
      //   order: 1;
      //   grid-column-end: span 2;
      // }
      // &:nth-child(6) {
      //   order: 6;
      // }
      // &:nth-child(7) {
      //   order: 8;
      // }
      // &:nth-child(8) {
      //   order: 7;
      //   grid-column-end: span 2;
      // }
      @include medium {
        &:nth-child(n) {
          order: initial;
          grid-column-end: initial;
        }
      }
      &__inner {
        padding: rem(24) rem(20);
        border-radius: rem(20);
        background-color: $color__grey;
      }
      &-title {
        display: block;
        font-size: rem(16);
        color: $color_blue;
        letter-spacing: 0.005em;
      }
      &-link {
        overflow: hidden;
        display: block;
        position: relative;
        padding-right: rem(15);
        margin-top: rem(20);
        font-size: rem(14);
        color: $color_grey;
        text-decoration: none;
        text-transform: capitalize;
        &::before {
          position: absolute;
          display: inline-block;
          width: 6px;
          height: 12px;
          top: 9%;
          right: 0;
          background-image: url("../../assets/images/ico_arrow_grey.png");
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
          content: "";
        }
        &:hover,
        &:focus {
          color: #98a5b1;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
