@import "../../styles/styles.scss";

.related_card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 $padding__collumn;

  &__image {
    height: rem(280);
    margin-bottom: rem(28);

    img {
      border-radius: rem(20);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: rem(20);
    margin-bottom: rem(18);
  }

  &__description {
    opacity: 0.7;
    line-height: rem(25);
    margin-bottom: rem(40);
  }
}
