@import "../../styles/styles.scss";

$color_bg_hero__gradient--last: #074581;
$color_bg_hero__gradient--first: #0a61b4;

.hero {
  position: relative;
  background: linear-gradient(
    90deg,
    $color_bg_hero__gradient--first 0%,
    $color_bg_hero__gradient--last 100%
  );

  &__button {
    display: flex;
    gap: rem(18);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: rem(820);
    padding-bottom: 140px;
  }

  &__content,
  &__image {
    flex: 1 1 0;
  }

  &__content {
    color: white;

    h1,
    p {
      width: rem(500);
    }

    h1 {
      font-size: rem(64);
      font-weight: 700;
      margin-bottom: rem(24);
      margin-top: 0;
    }

    p {
      margin-bottom: rem(60);
    }
  }

  &__image {
    position: relative;

    &-large {
      position: absolute;
      top: rem(-250);
      left: 0;
      z-index: 800;
    }

    &-ci {
      position: absolute;
      top: rem(250);
      left: rem(500);
      z-index: 1200;
    }
  }
}

.slider {
  position: relative;
  background-color: #f0f8ff;
  z-index: 1000;
  height: rem(200);
  display: flex;
  align-items: center;

  &__image {
    display: flex;
    justify-content: center;
  }
}

.platform {
  background-color: white;
  position: relative;
  z-index: 1000;
  padding-top: rem(80);
  padding-bottom: rem(250);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left,
    &-right {
      flex: 1 1 0;
    }

    &-left {
      h2 {
        margin-bottom: rem(60);
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;

      > .button {
        border: 1px solid #20976c;
        color: #20976c;

        path {
          stroke: #20976c;
        }
      }
    }
  }

  &__name {
    font-size: rem(14);
    font-weight: 500;
    color: #2d4bb6;
    letter-spacing: 1px;
    margin-bottom: rem(22);
  }
}

.business_platform {
  &__content {
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: rem(48);
    }

    &-item {
      &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(50);
        height: rem(50);
        border-radius: 50%;
        margin-bottom: rem(30);
        background-color: #ddeeff;
      }

      &-title {
        font-size: rem(20);
        font-weight: 500;
        margin-bottom: rem(24);
      }
    }
  }

  &__image {
    grid-column: 2/4;
    position: relative;

    img {
      position: absolute;
      top: rem(-100);
      left: rem(-80);
    }
  }
}

.platform__name--green {
  color: #059459;
}

.platform__title--white {
  color: white;
}

.background--dark-blue {
  background-color: #031a30;
}

.personal_platform {
  &__content {
    &-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: rem(48);
    }

    &-item {
      &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(50);
        height: rem(50);
        border-radius: 50%;
        margin-bottom: rem(30);
        background-color: #befde3;
      }

      &-title {
        font-size: rem(20);
        font-weight: 500;
        margin-bottom: rem(24);
      }

      &-description {
        color: #cdd1d6;
      }
    }
  }

  &__image {
    position: relative;

    img {
      position: absolute;
      top: rem(-100);
      left: rem(-80);
    }
  }
}

.security_policy {
  background-color: #e1edf9;
  position: relative;
  z-index: 1000;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(20);
    gap: rem(80);
  }

  &__content,
  &__image {
    flex: 1 1 0;
  }

  &__name {
    font-size: rem(14);
    font-weight: 500;
    color: #2d4bb6;
    letter-spacing: 1px;
    margin-bottom: rem(22);
  }

  &__title {
    font-size: rem(38);
    font-weight: 700;
    margin-bottom: rem(24);
  }

  &__description {
    color: #2f4356;
    margin-bottom: rem(22);
    line-height: 1.75;
  }

  &__content {
    .button {
      border: 1px solid #20976c;
      color: #20976c;

      path {
        stroke: #20976c;
      }
    }
  }

  &__button {
    margin-top: rem(50);
  }
}

.testmonial {
  position: relative;
  padding-top: rem(80);
  padding-bottom: rem(280);
  &__name {
    font-size: rem(14);
    font-weight: 500;
    color: #2d4bb6;
    letter-spacing: 1px;
    margin-bottom: rem(22);
  }

  &__title {
    font-size: rem(38);
    font-weight: 700;
    margin-bottom: rem(24);
    width: rem(568);
  }
}

.testmonial_card {
  border-radius: rem(20);
  overflow: hidden;
  background-color: #f6f6f6;
  padding: rem(25);
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    background-color: #f0f8ff;
  }

  &__description {
    margin-bottom: rem(20);
    font-size: rem(18);
  }

  &__name {
    font-size: rem(24);
    font-weight: 500;
    color: #0a61b4;
    margin-bottom: rem(6);
  }

  &__position {
    font-size: rem(14);
    letter-spacing: 1px;
  }
}

.swiper-pagination-bullet {
  border-radius: unset !important;
  width: rem(24) !important;
  height: rem(2) !important;
}

.swiper-slide {
  height: auto !important;
}

.testmonial__slider {
  position: relative;
}

.testmonial__swiper {
  position: relative;
}

.slider__buttons {
  &--left,
  &--right {
    position: absolute;
    top: 50%;
    z-index: 1200;

    button {
      cursor: pointer;
      width: rem(50);
      height: rem(50);
      border-radius: 50%;
      border: none;
      background-color: white;
      box-shadow: 1px 0 10px rgba(0, 0, 0, 0.1);
      transition: 0.25s ease-in-out;
      &:hover {
        background-color: #F0F8FF;
      }
    }
  }

  &--left {
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--right {
    transform: translate(50%, -50%);
    right: 0;
  }
}

.simplify {
  background-color: #0a61b4;
  color: white;
  padding-top: rem(80);
  padding-bottom: rem(220);
  position: relative;

  &__title {
    text-align: center;
    font-size: rem(38);
    font-weight: 700;
    margin-bottom: rem(40);
  }

  &_flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(80);

    &__content,
    &__image {
      flex: 1 1 0;
    }

    &__content {
      &-title {
        font-size: rem(28);
        font-weight: 700;
        margin-bottom: rem(20);
      }

      p {
        margin-bottom: rem(20);
        color: #cdd1d6;
        line-height: rem(25);
      }
    }
  }
}

.get_started {
  background-color: #e1edf9;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(80);
  }

  &__content {
    h1 {
      font-size: rem(38);
      font-weight: 700;
      margin-bottom: rem(60);
    }
  }

  &__image {
    img {
      position: relative;
      bottom: rem(-15);
    }
  }
}

.love_to_hear {
  background-color: white;
  position: relative;
  z-index: 1000;
  padding-top: rem(100);
  padding-bottom: rem(240);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(99);
  }

  &__box-left {
    display: flex;
    justify-content: space-between;
    gap: rem(48);

    &-item {
      flex: 1 1 0;
      &-image {
        width: rem(50);
        height: rem(50);
        border-radius: 50%;
        background-color: #ddeeff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(20);
      }

      h3 {
        font-size: rem(20);
        font-weight: 700;
        margin-bottom: rem(20);
      }

      p {
        color: #2f4356;
        line-height: rem(25);
        margin-bottom: rem(30);
      }

      a {
        color: #20976c;
        font-size: rem(14);
        font-weight: 500;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: rem(10);

        span {
          &:after {
            background-color: #20976c;
          }
        }

        path {
          stroke: #20976c;
        }
      }
    }
  }

  &__box-right {
    h1 {
      margin-bottom: rem(40);
    }

    p {
      margin-bottom: rem(30);
      color: #2f4356;
    }

    button {
      margin-top: rem(50);
      border: 1px solid #20976c;
      color: #20976c;

      path {
        stroke: #20976c;
      }
    }
  }
}
