@import "../../styles/styles.scss";
.security_policy {
  background-color: #e1edf9;
  position: relative;
  z-index: 1000;
  @include medium {
    flex-direction: column;
    padding-top: rem(100);
  }
  &__content,
  &__image {
    flex: 1 1 50%;
    padding: 0 $padding__column;
    padding-top: rem(100);
    padding-bottom: rem(140);
    box-sizing: border-box;

    @include medium {
        padding-top: 0;
        padding-bottom: 0;
    }
  }
  &__content {
    box-sizing: border-box;
    .button {
      border: 1px solid $color__success;
      color: $color__success;
      path {
        stroke: $color__success;
      }
    }
  }
  &__image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-illustration {
      position: relative;
      z-index: 1200;
      @include medium {
        width: 50%;
        margin-top: rem(40);
        margin-bottom: rem(100);
      }
    }

    &-background {
        position: absolute;
        left: 0;
        bottom: 0;
        max-height: rem(224);
        width: 50vw;
        min-width: min-content;
        z-index: 1000;
  
        @include medium{
          width: 100vw;
        }
      }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium {
      flex-direction: column;
    }
  }
  &__name {
    font-size: rem(14);
    font-weight: 500;
    color: #2d4bb6;
    letter-spacing: 1px;
    margin-bottom: rem(22);
  }
  &__title {
    font-size: rem(38);
    font-weight: 700;
    margin-bottom: rem(24);
  }
  &__description {
    color: #2f4356;
    margin-bottom: rem(22);
    line-height: 1.75;
  }
  
  &__button {
    margin-top: rem(50);
  }
  
}
