@import "../../styles/styles.scss";

$color__hero-background: $color__secondary;

.resources {
  .hero {
    padding-top: rem(180);
    position: relative;
    background-color: $color__hero-background;

    @include large {
      padding-bottom: rem(60);
    }

    @include medium {
      padding-top: 0;
      margin-bottom: 0;
    }

    @include small {
      padding: rem(120) 0;
    }

    &__wrapper {
      display: flex;
      align-items: flex-start;
      box-sizing: border-box;
      direction: rtl;

      @include medium {
        flex-direction: column;
        padding-bottom: rem(100);
        padding-top: 0;
      }

      @include small {
        padding-bottom: 0;
      }
    }

    &__name {
      color: $color__primary;
      margin-bottom: rem(20);
      letter-spacing: rem(2);
      font-weight: 600;
      font-size: rem(14);
      text-transform: uppercase;

      @include medium {
        margin-top: rem(50);
        margin-bottom: rem(40);
      }
    }

    &__content, &__articles {
      flex: 1 1 50%;
      box-sizing: border-box;
      direction: ltr;
    }

    &__content {
      padding: 0 $padding__column;

      h1,
      p {
        max-width: 100%;
      }
    }
    &__title {
      font-size: rem(42);
      margin-bottom: rem(24);
      margin-top: 0;

      @include extraLarge {
        font-size: rem(38);
      }

      @include large {
        font-size: rem(34);
      }

      @include medium {
        font-size: rem(24);
      }

      @include small {
        font-size: rem(36);
      }

      @include extraSmall {
        font-size: rem(28);
      }
    }

    &__description {
      margin-bottom: rem(50);
    }

    &__articles {
      position: relative;
      width: 100%;

      @include medium {
        margin-top: rem(150);
      }

      @include small {
        margin-top: rem(20);
      }

      &-wrapper {
        position: relative;
        z-index: 1100;
      }

      &-group {
        position: relative;
        padding: 0 $padding__column;
        column-count: 2;
        column-gap: $padding__column--x2;
        box-sizing: border-box;

        width: 100%;

        @include medium {
          margin-right: 0;
        }

        @include small {
          column-count: 1;
          width: 100%;
        }

        > :first-child {
          margin-bottom: $grid__gap;
        }
      }
    }

    $x: 40%;

    &__bg {
      position: relative;
      top: rem(-66);

      @include large {
        top: rem(-7);
      }

      @include small {
        top: rem(53);
      }

      &-left, &-right {
        position: absolute;
        height: rem(120);
        z-index: 1000;

      }

      &-left {
        right: 100%-$x;
        bottom: rem(-139);
        min-width: 777.5px;
        width: 48vw;
      }

      &-right {
        left: $x;
        top: 0;
        min-width: 956px;
        width: 57vw;
      }
    }

    &__background {
      // display: flex;
      // position: relative;
      // top: rem(-89);
      // transform: skewY(5.9deg);
      // z-index: 1000;

      
      &-image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 48%);
        z-index: 1000;
        max-height: rem(209);
        width: 100%;
        min-width: 1440px;



        @include extraLarge {
          left: 50%;
          transform: translate(-50%, 47%);
        }

        @include medium {
          transform: translate(-32%, 48%);
        }

      }



      &-left, &-right {
        position: absolute;
        height: rem(100);
        // transform: skewY(6.5deg);
        background-color: green;
        z-index: 1000;
        
      }

      &-left {
        transform: translateY(100%);
        border-bottom-right-radius: 20px;
        width: 43%;
        background: linear-gradient(261.67deg, #0A61B4 6.25%, #074581 91.85%);
      }

      &-right {
        width: 57%;
        top: 0;
        right: 0;
        border-top-left-radius: 20px;
        background: #DEF6EC;
      }
    }
  }

  .business_insight {
    position: relative;
    background-color: white;
    padding-top: rem(200);
    padding-bottom: 14.5rem;

    &__wrapper {
      padding: 0 $padding__column;
    }

    &__top {
      display: flex;
      justify-content: space-between;

      @include medium {
        flex-direction: column;
        margin-bottom: 3rem;
      }
    }

    &__highlight, &__button {
      flex: 1 1 50%;
    }

    &__button {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      @include medium {
        justify-content: start;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $padding__column--x2;

      @include medium {
        grid-template-columns: repeat(2, 1fr);
      }

      @include small {
        grid-template-columns: 1fr;
      }
    }

    &__name {
      color: $color__success;
      opacity: 1;
    }

    &__title {
      margin-top: rem(24);
      font-weight: 700;
      max-width: 100%;

      @include medium {
        margin-bottom: 1rem;
      }
    }
  }

  .insight_update {
    position: relative;
    padding-top: rem(80);
    padding-bottom: 14.5rem;
    background-color: $color__secondary;

    &__title {
      width: rem(469);
      max-width: 100%;
      margin-bottom: rem(40);
    }

    &__wrapper {
      padding: 0 $padding__column;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: rem(54);
      column-gap: $padding__column--x2;

      @include medium {
        grid-template-columns: repeat(2, 1fr);
      }

      @include small {
        grid-template-columns: 1fr;
      }
    }

    &__radios {
      display: flex;
      align-items: center;
      gap: rem(18);
      margin-bottom: rem(40);
      flex-wrap: wrap;

      .chip {
        input[type="radio"] {
          display: none;

          &:checked + label {
            background-color: $color__success;
            color: #fff;
            border: 1px solid $color__success;
          }
        }

        label {
          border-radius: 24px;
          display: block;
          padding: rem(8) rem(22);
          border: 1px solid #2f4356;
          color: #2f4356;
          cursor: pointer;
        }
      }
    }
  }

  .latest_update {
    position: relative;
    background-color: white;
    padding-top: rem(80);
    padding-bottom: 13.5rem;

    &__name {
      color: $color__primary;
    }

    &__wrapper {
      padding: 0 $padding__column;
    }

    
    &__top {
      display: flex;
      justify-content: space-between;

      @include medium {
        flex-direction: column;
        margin-bottom: 3rem;
      }
    }

    &__highlight, &__button {
      flex: 1 1 50%;
    }
    &__button {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;

      @include medium {
        justify-content: start;
      }
    }

    &__title {
      @include medium {
        margin-bottom: 1rem;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $grid__gap;

      @include medium {
        grid-template-columns: repeat(2, 1fr);
      }

      @include small {
        grid-template-columns: 1fr;
      }
    }
  }

}
