@import "../../styles/styles.scss";

$color_bg_hero__gradient--last: #034f2f;
$color_bg_hero__gradient--first: #059459;

.personal {
  .hero {
    position: relative;
    background: linear-gradient(
      90deg,
      $color_bg_hero__gradient--first 0%,
      $color_bg_hero__gradient--last 100%
    );

    &__button {
      display: flex;
      gap: rem(18);

      .button--flat {
        background-color: #135f3a;

        &:hover {
          background-color: darken(#135f3a, 5%);
        }
      }

      @include extraSmall {
        flex-direction: column;
        gap: rem(10);
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      height: rem(820);
      padding-bottom: 280px;
      padding-top: rem(200);
      box-sizing: border-box;

      @include medium {
        flex-direction: column;
        padding-bottom: rem(140);
        height: rem(1200);
      }

      @include extraSmall {
        height: rem(1080);
      }
    }

    &__name {
      margin: rem(20) 0;
      opacity: 50%;
      letter-spacing: rem(2);
      font-weight: 600;
      font-size: rem(14);

      @include medium {
        margin-bottom: rem(40);
      }
    }

    &__content {
      color: white;
      flex: 1 1 50%;


      h1,
      p {
        max-width: 100%;
      }
    }
    &__title {
      font-size: rem(48);
      font-weight: 400;
      line-height: rem(50.4);
      margin-bottom: rem(24);
      margin-top: 0;

      @include large {
        font-size: rem(40);
      }

      @include medium {
        font-size: rem(48);
      }

      @include extraSmall {
        font-size: rem(40);
      }
    }

    &__description {
      margin-bottom: rem(50);
    }

    &__image {
      position: relative;
      flex: 1 1 50%;

      &-large {
        position: absolute;
        bottom: rem(-890);
        z-index: 800;

        @include medium {
          left: 50%;
          transform: translateX(-50%);
          bottom: rem(-560);
          width: rem(600);
        }

        @include small {
          bottom: rem(-640);
        }

        @include extraSmall {
          width: rem(500);
          bottom: rem(-660);
        }
      }
    }
  }
}
