@import "../../styles/styles.scss";
$color_white: #fff;
$color_black: #031a30;
$color_grey: #2f4356;
$color_blue: $color__primary;
$color_green: $color__success;
.global_privacy {
    .hero {
        position: relative;
        padding-top: rem(100);
        background: linear-gradient(125.24deg, $color_blue 27.35%, #f2f9ff 176.96%);
        &__wrapper {
            display: flex;
            align-items: center;
            padding-top: rem(80);
            padding-bottom: rem(190);
            text-align: center;
            box-sizing: border-box;
            @include medium {
                flex-direction: column;
                padding-top: 0;
                padding-bottom: rem(140);
            }
            @include small {
                padding-top: 0;
            }
        }
        &__content {
            color: $color_white;
            flex: 1 1 40%;
            @include extraLarge {
                flex: 1 1 50%;
            }
            h1,
            p {
                max-width: 100%;
            }
        }
        &__title {
            font-size: rem(42);
            margin-bottom: rem(24);
            margin-top: 0;
            @include extraLarge {
                font-size: rem(38);
            }
            @include large {
                font-size: rem(34);
            }
            @include medium {
                font-size: rem(42);
            }
            @include small {
                font-size: rem(36);
            }
            @include extraSmall {
                font-size: rem(28);
            }
        }
    }
    .flex_box {
        position: relative;
        min-height: rem(1000);
        padding-bottom: 200px;
        line-height: rem(25);
        &__container {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            @include small {
                padding-top: 0;
            }
            &-title {
                margin-top: 0;
            }
        }
        &__nav {
            flex: 25%;
            padding: $padding__column;
            box-sizing: border-box;
            &__list {
                margin-bottom: rem(52);
                &-title {
                    margin: rem(52) 0 rem(24);
                    font-size: rem(18);
                    font-weight: bold;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                &-link {
                    padding-bottom: rem(16);
                    margin: 0;
                    a {
                        text-decoration: none;
                        color: $color_grey;
                        &:hover,
                        &:focus,
                        &.on {
                            font-weight: bold;
                            color: $color_blue;
                        }
                    }
                }
            }
            &-button {
                display: none;
            }
            @include small {
                flex: 100%;
                position: fixed;
                bottom: rem(80);
                left: rem(30);
                padding: rem(20) 0;
                z-index: 1001;
                &::before {
                    opacity: 0;
                    position: absolute;
                    bottom: rem(40);
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: " ";
                    transition: all 0.25s ease-in-out;
                }
                &__list {
                    opacity: 0;
                    position: relative;
                    top: rem(-40);
                    padding: rem(10) rem(25);
                    margin: 0;
                    transition: all 0.5s;
                    &-title {
                        margin: 0 0 rem(10);
                    }
                }
                &-button {
                    position: absolute;
                    bottom: rem(-20);
                    left: rem(-10);
                    display: block;
                    width: rem(60);
                    height: rem(60);
                    line-height: rem(60);
                    border-radius: 100%;
                    text-align: center;
                    background: $color_grey;
                    color: $color_white;
                    box-shadow: rem(2) rem(2) rem(3) rem(3) rgba(0, 0, 0, 0.2);
                    border: none;
                    cursor: pointer;
                    z-index: 1001;
                    &::after {
                        content: " ";
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url("../../assets/images/arrow-right.svg") center no-repeat;
                        transition: all 0.1s;
                    }
                }
            }
            &-active {
                @include small {
                    &::before {
                        opacity: 1;
                        bottom: 0;
                        left: 0;
                        background: $color_white;
                        box-shadow: rem(2) rem(2) rem(3) rem(3) rgb(0 0 0 / 30%);
                        border-radius: rem(3) rem(34) rem(3) rem(34);
                        z-index: -1;
                    }
                    .flex_box__nav__list {
                        opacity: 1;
                        top: 0;
                        & a {
                            display: inline-block;
                            min-width: rem(80s);
                        }
                    }
                    .flex_box__nav-button {
                        background: $color_blue;
                        transition: all 250ms;
                        &::after {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
        &__gp {
            flex: 75%;
            padding: $padding__column;
            box-sizing: border-box;
            &-title {
                padding-bottom: rem(24);
                color: $color_black;
                &:last-child {
                    margin-bottom: rem(52);
                }
            }
            @include small {
                flex: 100%;
            }
        }
        &__content {
            margin: rem(32) 0;
            &__download {
                display: flex;
                gap: rem(30);
                margin: 0 0 rem(34);
                align-items: center;
                padding: rem(20);
                border-radius: rem(20);
                border: 1px solid #baccde;
                box-sizing: border-box;
                @include small {
                    display: block;
                }
                &-name {
                    flex: 75%;
                    margin: 0;
                    font-size: rem(20);
                    text-align: left;
                    @include small {
                        display: block;
                        flex: 100%;
                        text-align: center;
                        margin-bottom: rem(20);
                    }
                    &-version {
                        display: block;
                        font-size: rem(16);
                        opacity: 0.5;
                    }
                }
                &-btn {
                    flex: 25%;
                    position: relative;
                    height: rem(45);
                    line-height: rem(45);
                    border-radius: rem(100);
                    padding: 0 rem(50) 0 rem(24);
                    background: $color_green;
                    background-repeat: no-repeat;
                    text-decoration: none;
                    text-align: center;
                    color: $color_white;
                    &::after {
                        display: inline-block;
                        position: absolute;
                        top: rem(15);
                        right: rem(22);
                        width: rem(18);
                        height: rem(14);
                        background: url("../../assets/images/icon_download.svg") center no-repeat;
                        content: "";
                    }
                    @include small {
                        flex: 100%;
                        display: block;
                    }
                    @include extraSmall {
                        flex: 100%;
                        display: block;
                    }
                }
            }
            strong {
                color: $color_green;
            }
            &-subject {
                font-size: rem(38);
                @include extraLarge {
                    font-size: rem(36);
                }
                @include large {
                    font-size: rem(32);
                }
                @include extraSmall {
                    font-size: rem(26);
                }
            }
            &-title {
                font-size: rem(20);
            }
            &-sub {
                margin: rem(52) 0 rem(16);
                color: $color_grey;
            }
            &-description {
                margin-bottom: rem(60);
                color: $color_grey;
            }
        }
    }
}