@import "../../styles/styles.scss";
.ready_to_get {
  // background-color: white;
  position: relative;
  z-index: 1000;

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding-bottom: rem(100);
    padding-top: rem(100);

    @include medium {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
      padding-bottom: rem(80);
      padding-top: rem(80);
    }
    @include small {
      grid-template-columns: 1fr;
      padding-bottom: rem(60);
      padding-top: rem(60);
      gap: rem(60);
    }
  }
  &__box-left {
    padding: 0 $padding__column;
    @include medium {
      grid-column: 1 / span 2;
    }
    @include small {
      grid-column: 1;
      margin-top: 0;
    }
    h1 {
      margin-bottom: rem(40);
    }
    p {
      margin-bottom: rem(30);
      color: #2f4356;
    }
    button {
      margin-top: rem(50);
      border: 1px solid $color__success;
      color: $color__success;
      path {
        stroke: $color__success;
      }
    }
  }
  &__box-right {
    &-item {
      padding: 0 $padding__column;
      &-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #ddeeff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(20);
      }
      h3 {
        font-size: rem(20);
        font-weight: 700;
        margin-bottom: rem(20);
      }
      p {
        color: #2f4356;
        line-height: rem(25);
        margin-bottom: rem(30);
      }
      a {
        color: $color__success;
        font-size: rem(14);
        font-weight: 500;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: rem(10);
        span {
          &:after {
            background-color: $color__success;
          }
        }
        path {
          stroke: $color__success;
        }
      }
    }
  }
}
