@import "../../styles/styles.scss";

$color_bg_hero__gradient--last: #074581;
$color_bg_hero__gradient--first: #0a61b4;

.header {
  background: linear-gradient(
    90deg,
    $color_bg_hero__gradient--first 0%,
    $color_bg_hero__gradient--last 100%
  );

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(100);
  }

  &--right {
    display: flex;
    align-items: center;
    gap: rem(33);
  }
}

.logo {
  cursor: pointer;
}

.nav {
  &__firstlevel {
    display: flex;

    li {
      list-style: none;
      padding: 0 rem(17);

      a {
        display: flex;
        gap: rem(10);
        color: white;
        text-decoration: none;

        > svg {
          transform: rotate(90deg);
          cursor: pointer;
        }
      }
    }
  }
}

.span__hover {
    position: relative;
    display: inline-block;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: -1px;
      left: 0;
      background-color: white;
      transform-origin: bottom left;
      transition: transform 0.25s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }