@import "../../styles/styles.scss";

$card_height: rem(200);
$card_height--large: rem(150);

.resource_card {
  border-radius: rem(20);
  overflow: hidden;
  background-color: white;

  &--greyish-blue {
    background-color: $color__secondary;
  }

  &__image {
    height: $card_height;
    width: 100%;
    object-fit: cover;
    display: block;

    @include large {
      height: $card_height--large;
    }

    @include medium {
      height: $card_height;
    }

    &--longer {
      height: rem(267);

      @include large {
        height: calc($card_height--large * 1.335);
      }

      @include medium {
        height: $card_height;
      }
    }
  }

  &__content {
    padding: rem(20);

    .button {
      padding: rem(8) rem(16);
    }

    @include large {
      padding: 1rem;
    }
  }

  &__title {
    margin-top: 0;

    @include large {
      font-size: rem(16);
    }

    @include medium {
      font-size: rem(20);
    }
  }
}
