@import "../../styles/styles.scss";

.resource_card {
  position: relative;
  border-radius: rem(20);
  overflow: hidden;
  height: calc(100%);
  z-index: 1100;

  &:hover {
    .resource_card__content-overlay {
      transition: 0.4s ease-in-out;
      opacity: 0.3;
    }
  }

  &__background {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    padding: rem(24);
    z-index: 1000;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-title {
      color: white;
      font-size: rem(20);
      line-height: rem(26);
      font-weight: 350;
      margin-bottom: rem(20);
      cursor: pointer;
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: hard-light;
      border-radius: rem(20);

      &--green {
        background: linear-gradient(
          180deg,
          rgba(5, 148, 89, 0) 0%,
          rgba(5, 148, 89, 0.8) 59.77%,
          #059459 100%
        ); 
      }
      &--blue {
        background: linear-gradient(
          180deg,
          rgba(45, 75, 182, 0) 0%,
          rgba(45, 75, 182, 0.8) 59.77%,
          #2d4bb6 100%
        );
      }
    }

    .button {
      background-color: white;

      &:hover {
        background-color: #e2e2e2;
      }
    }
  }
}


.weird_card {
  height: rem(396);

  @include small {
    height: auto;
  }
}
