@import "../../styles/styles.scss";

.footer {
  background-color: #e1edf8;
  padding-top: rem(80);
  padding-bottom: rem(40);
  position: relative;

  &__top-right {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    @include medium {
      display: block;
      column-count: 2;
      gap: 0;
    }

    @include extraSmall {
      column-count: 2;
    }
  }

  &__logo {
    @include small {
      display: grid;
      grid-column: 1 / span 2;
      margin-bottom: rem(10);
    }

    &-svg {
      path {
        fill: $color__primary;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: rem(16);
    justify-content: flex-end;

    @include small {
      justify-content: flex-start;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      border-radius: 50%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  &__container {
    @include extraSmall {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: rem(20);

    @include larger {
      grid-template-columns: repeat(3, 1fr);
      row-gap: $row__gap--larger;
    }

    @include medium {
      grid-template-columns: repeat(2, 1fr);
      row-gap: $row__gap--small;
    }

    &-left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      margin-bottom: rem(64);

      padding: 0 $padding__column;

      @include small {
        grid-template-rows: repeat(2, 1fr);
      }
    }

    &-right {
      @include small {
        flex-direction: column;
        align-items: left;
        text-align: left;
      }

      &-list {
        max-width: rem(250);
        padding: 0 $padding__column;
        break-inside: avoid-column;

        h4 {
          font-size: rem(14);
          color: #021527;
          font-weight: 500;
          margin-top: 0;
          text-transform: uppercase;
        }

        ul {
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-direction: column;
          gap: rem(12);
          margin-bottom: 2.5rem;

          li {
            font-size: rem(14);

            a {
              color: #2f4356;
              text-decoration: none;
              line-height: rem(24);

              &:hover {
                color: #20976c;
              }
            }
          }
        }
      }
    }
  }

  &__bottom {
    margin-top: rem(24);
    color: #2f4356;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include medium {
      flex-direction: column;
      text-align: center;
      gap: rem(0);
    }

    &-wrapper {
      border-top: 1px solid #baccde;
      margin-top: 2rem;
    }

    p,
    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 $padding__column;
    }

    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      gap: rem(20);
      margin: rem(5) 0;

      li {
        font-size: rem(14);

        a {
          color: #2f4356;
          text-decoration: none;

          span:after {
            background-color: #2f4356;
          }
        }
      }
    }
    &-languages {
      display: flex;
      align-items: center;
      padding: 0 $padding__column;
      margin-top: rem(10);

      &-selector {
        border: none;
        background-color: transparent;
        font-size: 1rem;
        color: #2f4356;
      }

      &-option {
        display: flex;
        align-items: center;

        &-emoji {
          margin-right: rem(8);
        }
      }
    }
  }

  &__overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 1400;

    &--display {
      display: block;
    }
  }

  &__languages {
    position: relative;
    &-selector {
      display: flex;
      gap: rem(20);
      cursor: pointer;
    }

    &-name {
      display: flex;
      gap: rem(10);
    }

    &-select {
      position: absolute;
      display: none;
      bottom: 30px;
      right: 0;
      padding: 5px 0;
      border-radius: rem(10);
      background-color: white;
      z-index: 1500;
      &--active {
        display: block;
      }
    }

    &-option {
      padding: rem(5) rem(15);
      white-space: nowrap;
      font-size: rem(14);
      display: flex;
      gap: rem(6);
      cursor: pointer;

      &:hover {
        background-color: lighten($color__light-blue, 5%);
      }
    }
  }

  &__arrow-down {
    width: 12px;
  }
}
