@import "../../styles/styles.scss";

$color_white: #fff;
$color_blue: $color__primary;
$color_purple: #2d4bb6;
$color_light-grey: #f6f6f6;
$color_grey: #2f4356;
$color_green: $color__success;
.legal_detail {
  .hero {
    position: relative;
    padding-top: rem(100);
    background: linear-gradient(90.32deg, #0a61b4 0.35%, #074581 99.81%);
    &__wrapper {
      padding-top: rem(40);
      padding-bottom: rem(180);
      box-sizing: border-box;
      @include medium {
        padding-top: 0;
        padding-bottom: rem(140);
      }
      @include small {
        padding-top: 0;
      }
    }
    &__title {
      font-size: rem(42);
      color: white;
      padding: 0 $padding__column;
      @include extraLarge {
        font-size: rem(38);
      }
      @include large {
        font-size: rem(34);
      }
      @include medium {
        font-size: rem(42);
      }
      @include small {
        font-size: rem(36);
      }
      @include extraSmall {
        font-size: rem(28);
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 3rem 0;

    @include small {
      grid-template-columns: 1fr;
    }
  }

  &__sidebar {
    padding: 0 $padding__column;

    @include small {
      display: none;
    }
  }

  &__group {
    margin-bottom: rem(24);
    &-title {
      margin: 0;
    }

    &-items {
      padding-left: rem(6);
      margin: 0;
      border-left: 1px solid $border__color;
    }

    &-item {
      list-style-type: none;
      margin: rem(12) 0;
      text-transform: capitalize;

      &-link {
        text-decoration: none;
        color: $color_main__text;

        &:hover {
          color: lighten($color_main__text, 20%);
        }
      }
    }
  }

  &__legal {
    padding: 0 $padding__column;
  }

  &__breadscrumb {
    display: flex;
    align-items: center;
    gap: rem(6);
    flex-wrap: wrap;
    text-transform: capitalize;
    margin-bottom: rem(36);
    svg {
      path {
        stroke: #537698;
      }
    }
  }

  &__detail {
    &-content {
      h1 {
        font-size: 20px;
        line-height: 24px;
        margin-top: 2rem;
      }

      h2 {
        font-size: 18px;
        line-height: 25px;
        margin-top: 1.75rem;
      }

      h3 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 1.5rem;
      }

      p {
        line-height: 1.8;
      }

      li {
        line-height: 2.2;
      }

      a {
        color: $color__success;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          color: lighten($color__success, 20%);
        }
      }
    }
  }
}

.breadscrumb {
  &__arrow-right {
    color: #537698;
  }

  &__link {
    text-decoration: none;
    color: #537698;

    &:hover {
      color: darken(#537698, 20%);
    }

    &-skeleton {
      min-width: rem(80);
    }
  }

  &__page-title-skeleton {
    min-width: rem(80);
  }
}
