@import "../../styles/styles.scss";

.read_article {
  align-items: center;
  gap: rem(10);
  text-decoration: none;
  color: $color__success;
  position: relative;
  display: inline-block;
  white-space: nowrap;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $color__success;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    @include larger {
      background-color: $color__success;
    }
    @include large {
      background-color: transparent;
    }
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  span {
    margin-right: rem(10);
  }

  path {
    stroke: $color__success;
  }
}
