@import '../../styles/styles.scss';


.platform {
    background-color: #031a30;
    position: relative;
    z-index: 1000;
    padding-top: rem(80);
    padding-bottom: 13.5rem;
    color: white;

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 $padding__collumn;

      @include small {
        flex-direction: column;
        align-items: flex-start;
      }

      &-left,
      &-right {
        flex: 1 1 50%;
      }

      &-left {
        h2 {
          margin-bottom: rem(60);

          @include small {
            margin-bottom: rem(40);
          }
        }
      }

      &-right {
        display: flex;
        justify-content: flex-end;

        > .button {
          border: 1px solid $color__success;
          color: $color__success;

          @include small {
            margin-bottom: rem(40);
          }

          path {
            stroke: $color__success;
          }
        }
      }
    }

    &__title {
      font-size: rem(38);
      line-height: rem(48);
      color: white;

      @include medium {
        font-size: rem(24);
        line-height: rem(30);
      }
    }

    &__name {
      font-size: rem(14);
      font-weight: 500;
      color: white;
      opacity: 0.5;
      letter-spacing: 1px;
      margin-bottom: rem(22);
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $grid__gap;
      padding: 0 $padding__collumn;

      @include medium {
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(60);
      }

      @include small {
        grid-template-columns: 1fr;
      }
    }
  }