@import "../../styles/styles.scss";

#left-section {
    margin: 0 1rem;
}

.author-container {
    display: flex;
    align-items: center;
    width: 272px;
    height: 86px;
    background-color: #F6F6F6;
    border-radius: 20px;
}

.author-wrapper {
    display: flex;
    justify-content: space-between;
    justify-content: baseline;
    width: 167px;
    height: 50px;
    padding-left: 18px;
}

.author-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../../assets/images/sample-author-avatar.png);
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.author-name {
    font-size: 16px;
    font-weight: 600;
}

.author-title {
    font-size: 12px;
    font-weight: 400;
}

.social-icons {
    margin-top: 40px;
    width: 244px;
    height: 66px;
}

#share {
    width: 56px;
    height: 18px;
    left: 140px;
    top: 307px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #7D8893;
}

#more-articles {
    margin-top: 30px;
    width: 272px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #7D8893;
}

#rec-article-img {
    height: 200px;
    width: 272px;
    background-image: url(../../assets/images/card1.png);
    background-size: contain;
    border-radius: 20px;
}

#rec-article-desc {
    width: 272px;
}