@import "../../styles/styles.scss";

$color_white: #fff;
$color_black: #031a30;
$color_grey: #2f4356;
$color_blue: #0a61b4;

.body {
    padding-top: rem(100);
    padding-bottom: rem(100);
    &__container {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 3fr;
        //padding-bottom: rem(100);
        @include medium  {
            display: grid;
            grid-template-columns: 1fr 3fr;
            //display: grid ;
        }
    }
    &__left {
        display: flex;
        flex-direction: column;
            &-share {
                font-size: 14px;
                letter-spacing: 0.14em;
                color: #7D8893
            }
            &-social {           
                display: flex;
                
                justify-content: space-between;
                gap: 24px;
                margin-bottom: 40px;
                @include medium  {
                    gap: 0;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    &-background {
                        //display: grid; 
                        //grid-template-columns: auto auto auto;
                        border-radius: 20px;
                        //justify-content: center;
                        //align-content: center;
                        //width: 100%;
                        background-color: #F6F6F6;
                        //justify-content: center;
                    }
                }
            }
            &-caseStudy {
                font-size: 14px;
                letter-spacing: 0.14em;
                color: #7D8893;
                margin-bottom: 43px;
            }
            &-hyperlink {
                max-width: rem(250);
                break-inside: avoid-column;
                ul {
                    list-style: none;
                    padding-left: 0;
                    display: flex;
                    flex-direction: column;
                    gap: rem(12);

                    li {
                        cursor: pointer;
                        font-family: "Gotham Rounded";
                        font-style: "normal";
                        font-weight: 350px;
                        font-size: 16px;
                        //color: #0a61b4; 
                        
                        &:hover {
                            color: #0a61b4;
                        }
                    }
                }   
                background: #F6F6F6;
                border-radius: 20px;
            }
            .blue-bar {

                width: 2px;
                height: 40px;
                background-color: #F6F6F6;
            
            }
                
            .list-item {
                display: flex;
                &-text {
                    margin-left: 22px;
                    align-self: center;
                }
            
                &:hover {
                    .blue-bar {
                        background-color: #0A61B4;
                    }
                }
            }
        @include medium {
            display: block;
        }
    } // END OF LEFT BOX \\

    &__right {

        &-date {
            font-size: 14px;
            color: #0A61B4;
            line-height: 18px;
            letter-spacing: 0.14em;
        }
        &-heading {
            //position: absolute;
            //width: 865px; 
            //height: 100px; 
            //left: 436px;
            //top: 223px; 
            

            font-family: "Gotham Rounded";
            //font-style: "normal";
            //font-weight: 400px;
            font-size: 16px;
            color: #031A30;
            //line-height: 50px;
            //margin-bottom: 24px;
        }
        h2 {
            font-family: "Gotham Rounded";
            font-style: "normal";
            font-size: 24px; 
            
        }
    } // END OF RIGHT BOX \\

    img {
        margin-top: 32px;
        margin-bottom: 32px;
        border-radius: 20px;
    }
}

