@import "./styles/styles.scss";

body,
html {
  margin: 0;
  font-family: $font_family__Inter, sans-serif;
  font-size: $font_size__desktop;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include small {
    font-size: 14px;
  }
}

body {
  overflow-y: hidden;
}
.home,
.footer,
.header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font_family__GotamRoundedBold, sans-serif;
  }

  p {
    line-height: rem(28);
  }
}
