@import "../../styles/styles.scss";
$color_white: #fff;
$color_black: #031a30;
$color_grey: #2f4356;
$color_green: #20976c;
$color_light-green: hsl(158, 73%, 97%);
$color_light-blue: #e1edf9;
$color_purple: #2d4bb6;
.usecases {
    .hero {
        position: relative;
        background: $color_white;
        @include medium {
            padding-bottom: rem(50);
        }
        &__wrapper {
            display: flex;
            position: relative;
            align-items: center;
            height: rem(820);
            padding-bottom: 280px;
            padding-top: rem(200);
            box-sizing: border-box;
            @include medium {
                flex-direction: column;
                padding-bottom: rem(140);
                padding: 0;
            }
        }
        &__name {
            margin: rem(20) 0;
            letter-spacing: rem(2);
            font-weight: 600;
            font-size: rem(14);
            color: $color_purple;
            text-transform: uppercase;
            @include medium {
                margin-top: rem(150);
            }
        }
        &__content {
            color: $color_black;
            flex: 1 1 50%;
            padding: 0 $padding__collumn;
            h1,
            p {
                max-width: 100%;
            }
        }
        &__title {
            font-size: rem(42);
            margin-bottom: rem(24);
            margin-top: 0;
            @include extraLarge {
                font-size: rem(38);
            }
            @include large {
                font-size: rem(34);
            }
            @include medium {
                font-size: rem(42);
            }
            @include small {
                font-size: rem(36);
            }
            @include extraSmall {
                font-size: rem(28);
            }
        }
        &__description {
            margin-bottom: rem(50);
        }
        &__image {
            display: inline-flex;
            flex: 1 1 50%;
            align-self: start;
            width: 100%;
            height: 100%;
            min-height: rem(590);
            @include medium {
                min-height: auto;
            }
            &::after {
                display: block;
                width: 100%;
                height: auto;
                margin: 0 auto;
                content: "";
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: bottom 16% right 0;
                @include medium {
                    width: 80%;
                    background-size: 100% 100%;
                    background-position: bottom 0 center;
                }
            }
        }
    }
    .case {
        position: relative;
        padding-bottom: rem(140);
        &__head {
            display: flex;
            column-gap: 1rem;
            position: relative;
            padding: 0 1rem;
            margin-bottom: rem(60);
            &-name {
                position: absolute;
                top: 0;
                left: 1rem;
                font-size: rem(14);
                font-weight: 600;
                color: $color_purple;
                text-transform: uppercase;
                letter-spacing: 0.14em;
            }
            &-title {
                flex: 50%;
                margin-top: rem(42);
                font-size: rem(38);
            }
            &-desc {
                flex: 50%;
                margin-top: rem(42);
                font-size: rem(16);
                line-height: rem(25);
                color: $color_grey;
            }
            @include medium {
                display: block;
                column-gap: 0;
                padding-top: rem(60);
                margin-bottom: 0;
                &-name {
                    position: relative;
                    margin-bottom: rem(40);
                }
                &-title {
                    flex: 100%;
                    font-size: rem(24);
                    margin-top: rem(16);
                }
                &-desc {
                    flex: 100%;
                    margin: 0;
                }
            }
        }
        &__body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            padding: 0 1rem;
            &__box {
                display: inline-grid;
                margin-bottom: rem(60);
                align-items: center;
                &-title {
                    font-size: rem(20);
                    line-height: rem(26);
                }
                &__desc {
                    font-size: rem(16);
                    line-height: rem(25);
                    color: $color_grey;
                }
                &__list {
                    margin-top: rem(40);
                    font-size: rem(16);
                    padding-left: 0;
                    list-style: none;
                    &>li {
                        padding: rem(7) 0 rem(7) rem(50);
                        background: url("../../assets/images/icon-usecases-list.svg") left rem(15) center no-repeat;
                    }
                }
                &>img {
                    display: inline-block;
                    width: 100%;
                }
            }
            @include medium {
                grid-template-columns: repeat(1, 1fr);
                &__box {
                    margin: rem(30) auto 0;
                    &:nth-child(1) {
                        order: 1;
                    }
                    &:nth-child(2) {
                        order: 2;
                    }
                    &:nth-child(3) {
                        order: 3;
                    }
                    &:nth-child(4) {
                        order: 5;
                    }
                    &:nth-child(5) {
                        order: 4;
                    }
                    &:nth-child(6) {
                        order: 6;
                    }
                    &-title {
                        margin-top: 0;
                    }
                    &__list {
                        margin-top: rem(24);
                    }
                    &>img {
                        display: block;
                        width: 80%;
                        margin: 0 auto;
                    }
                }
            }
            @include small {
                &__box {
                    &>img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .policy {
        position: relative;
        background: $color_light-blue;
        padding: rem(100) 0 rem(150);
        &::after {
            position: absolute;
            bottom: 0;
            right: -49%;
            display: block;
            width: 100%;
            height: rem(300);
            background: linear-gradient(96.14deg, #0a61b4 8.37%, #074581 71.81%);
            border-top-left-radius: rem(20);
            transform: skewY(5deg);
            content: "";
        }
        .container {
            display: flex;
            column-gap: rem(40);
        }
        &__content {
            flex: 50;
            padding: 0 1rem;
            &-name {
                margin: 0;
                letter-spacing: rem(2);
                font-weight: 600;
                font-size: rem(14);
                color: $color_purple;
                text-transform: uppercase;
            }
            &-title {
                margin: rem(24) 0;
                font-size: rem(38);
            }
            &-desc {
                font-size: rem(16);
                line-height: rem(25);
                color: $color_grey;
            }
            >.button {
                margin-top: rem(60);
                text-decoration: none;
                border: 1px solid $color_green;
                color: $color_green;
                &>svg path {
                    stroke: $color_green;
                }
            }
        }
        &__image {
            flex: 50;
            position: relative;
            &>img {
                display: inline-block;
                position: relative;
                bottom: 0;
                right: rem(-165);
                width: rem(330);
                height: auto;
                z-index: 1000;
            }
        }
        @include medium {
            padding-top: rem(30);
            padding-bottom: 0;
            .container {
                display: block;
            }
            &__content {
                flex: 100;
                >.button {
                    width: 100%;
                    margin: rem(30) 0 rem(50);
                }
                &-title {
                    font-size: rem(24);
                }
            }
            &__image {
                flex: 100;
                &>img {
                    width: 60%;
                    position: relative;
                    right: -20%;
                }
            }
        }
        @include small {
            &>img {
                width: 90%;
                right: -5%;
            }
        }
    }
    .article {
        position: relative;
        top: rem(-60);
        padding: rem(0) 0 rem(100);
        background-color: $color_white;
        &>.bottom_triangle {
            top: rem(-140);
        }
        &__body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            row-gap: 1rem;
            padding: 0 1rem;
            @include medium {
                grid-template-columns: repeat(1, 1fr);
            }
            &__box {
                @include medium {
                    &:nth-child(1) {
                        order: 1;
                    }
                    &:nth-child(2) {
                        order: 2;
                    }
                    &:nth-child(3) {
                        order: 4;
                    }
                    &:nth-child(4) {
                        order: 3;
                    }
                }
                &-title {
                    padding: 0 rem(43) rem(24);
                    font-size: rem(28);
                }
                &__desc {
                    padding: 0 rem(43);
                    font-size: rem(16);
                    line-height: rem(25);
                    color: $color_grey;
                }
                &>img {
                    display: inline-block;
                    width: 100%;
                    @include medium {
                        width: 80%;
                        margin: 0 10%;
                        padding-top: rem(30);
                    }
                    @include small {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
    &-hospitality {
        .hero {
            background: #f2fdf9;
            &__image::after {
                background-image: url("../../assets/images/usecases-hospitality.jpg");
            }
        }
    }
    &-retail {
        .hero {
            background: #f8ece4;
            &__image::after {
                background-image: url("../../assets/images/usecases-retail.jpg");
            }
        }
    }
    &-medicare {
        .hero {
            background: #f9e2e2;
            &__image::after {
                background-image: url("../../assets/images/usecases-medicare.jpg");
            }
        }
    }
    &-education {
        .hero {
            background: #fcfff1;
            &__image::after {
                background-image: url("../../assets/images/usecases-hospitality.svg");
            }
        }
    }
}