@import "../../styles/styles.scss";
$color_white: #fff;
$color_black: #031a30;
$color_grey: #2f4356;
$color_green: #20976c;
$color_light-green: #f2fdf9;
$color_purple: #2d4bb6;
.usecases {
    .hero {
        position: relative;
        background: $color_white;
        &__button {
            display: flex;
            gap: rem(18);
            .button--flat {
                background-color: #135f3a;
                &:hover {
                    background-color: darken(#135f3a, 5%);
                }
            }
            @include extraSmall {
                flex-direction: column;
                gap: rem(10);
            }
        }
        &__wrapper {
            display: flex;
            position: relative;
            align-items: center;
            height: rem(820);
            padding-bottom: 280px;
            padding-top: rem(200);
            box-sizing: border-box;
            @include medium {
                flex-direction: column;
                padding-bottom: rem(140);
                height: rem(1100);
                padding-top: 0;
            }
            @include small {
                height: rem(1170);
            }
        }
        &__name {
            margin: rem(20) 0;
            letter-spacing: rem(2);
            font-weight: 600;
            font-size: rem(18);
            color: $color_purple;
            text-transform: uppercase;
            @include medium {
                margin-top: rem(150);
                margin-bottom: rem(40);
            }
        }
        &__content {
            color: $color_black;
            flex: 1 1 50%;
            padding: 0 $padding__collumn;
            h1,
            p {
                max-width: 100%;
            }
        }
        &__title {
            font-size: rem(42);
            margin-bottom: rem(24);
            margin-top: 0;
            @include extraLarge {
                font-size: rem(38);
            }
            @include large {
                font-size: rem(34);
            }
            @include medium {
                font-size: rem(42);
            }
            @include small {
                font-size: rem(36);
            }
            @include extraSmall {
                font-size: rem(28);
            }
        }
        &__description {
            margin-bottom: rem(50);
        }
        &__image {
            display: inline-flex;
            flex: 1 1 50%;
            align-self: start;
            &-large {
                z-index: 800;
                @include medium {
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: rem(-400);
                    width: rem(600);
                }
                @include small {
                    bottom: rem(-420);
                }
                @include extraSmall {
                    width: rem(500);
                    bottom: rem(-400);
                }
            }
            &>img {
                display: inline-block;
                width: 100%;
            }
        }
    }
    .example {
        &__head {
            display: flex;
            column-gap: rem(50);
            position: relative;
            margin-bottom: rem(60);
            &-name {
                position: absolute;
                top: 0;
                left: 0;
                font-size: rem(14);
                font-weight: 600;
                color: $color_purple;
                text-transform: uppercase;
                letter-spacing: 0.14em;
            }
            &-title {
                flex: 50%;
                margin-top: rem(42);
                font-size: rem(38);
            }
            &-desc {
                flex: 50%;
                margin-top: rem(42);
                font-size: rem(16);
                line-height: rem(25);
                color: $color_grey;
            }
        }
        &__body {
            &__box {
                &-title {
                    font-size: rem(20);
                    font-weight: 350;
                    line-height: rem(26);
                }
            }
        }
    }
    &-hospitality {
        .hero {
            background: #f2fdf9;
        }
    }
    &-Retail {}
    &-mediacl {}
    &-education {}
}