@import "../../styles/styles.scss";

.post {
  &__name {
    text-transform: uppercase;
    &--blue {
      color: $color__primary;
    }
    &--green {
      color: $color__success;
    }
  }

  &__title {
    font-size: rem(20);
    margin: rem(10) 0;
  }

  &__summary {
    margin-bottom: rem(5);
    
    @include resetSummarySmall;
  }

  &__image {
    height: rem(250);
    width: 100%;
    object-fit: cover;
    border-radius: rem(20);
  }

  &__category-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(10);
  }

  &__date {
    font-size: rem(14);
    color: #7D8893;
    margin: 0;
  }

  &__author {
    display: flex;
    gap: rem(10);
    align-items: center;
    margin-bottom: rem(20);
    margin-top: rem(0);

    &-image {
      width: rem(34);
      height: rem(34);
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
