@import "../../styles/styles.scss";
$color_white: #fff;
$color_black: #031A30;
$color_grey:#2F4356;
$color_blue: #0A61B4;
.faq {
    .hero {
        position: relative;
        padding-top: rem(100);
        background: linear-gradient(90.22deg, #0A61B4 0.35%, #074581 99.98%);
        &__wrapper {
            display: flex;
            align-items: center;
            height: rem(537);
            padding-bottom: rem(280);
            padding-top: rem(200);
            text-align: center;
            box-sizing: border-box;
            @include medium {
                flex-direction: column;
                height: rem(430);
                padding-top: 0;
                padding-bottom: rem(140);
            }
            @include small {
                height: rem(430);
                padding-top: 0;
            }
        }
        &__name {
            margin: rem(20) 0;
            opacity: 50%;
            letter-spacing: rem(2);
            font-weight: 600;
            font-size: rem(14);
            text-transform: uppercase;
            @include medium {
                margin-top: rem(50);
                margin-bottom: rem(40);
            }
            @include small {
                margin-top: rem(50);
            }
        }
        &__content {
            color: $color_white;
            flex: 1 1 40%;
            @include extraLarge {
                flex: 1 1 50%;
            }
            h1,
            p {
                max-width: 100%;
            }
        }
        &__title {
            font-size: rem(42);
            margin-bottom: rem(24);
            margin-top: 0;
            @include extraLarge {
                font-size: rem(38);
            }
            @include large {
                font-size: rem(34);
            }
            @include medium {
                font-size: rem(42);
            }
            @include small {
                font-size: rem(36);
            }
            @include extraSmall {
                font-size: rem(28);
            }
        }
        &__description {
            margin-bottom: rem(50);
        }
    }
    .flex_box {
        position: relative;
        min-height: rem(1000);
        padding-bottom: 200px;
        line-height: rem(25);
        &__container {
            display: flex;
            flex-wrap: wrap;
        }
        &__nav {
            flex: 35%;
            &-list {}
            &-title {
                margin: rem(52) 0 rem(24);
                font-size: rem(18);
                font-weight: bold;
                &:first-child {
                    margin-top: 0;
                }
            }
            &-link {
                padding-bottom: rem(16);
                margin: 0;
                a {
                    text-decoration: none;
                    color: $color_grey;
                    &:hover,
                    &:focus,
                    &.on {
                        font-weight: bold;
                        color: $color_blue
                    }
                }
            }
        }
        &__faq {
            flex: 65%;
            &-title {
                padding-bottom: rem(24);
                color: $color_black;
                &:last-child {
                    margin-bottom: rem(52);
                }
            }
        }
        &__content {
            margin: rem(32) 0;
            &-title {
                margin-bottom: rem(16);
                color: $color_grey;
            }
            &-description {
                color: $color_grey;
            }
        }
    }
}