@import "../../styles//styles.scss";

.social_media {
  &__social-medias {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(12);

    @include larger {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__social-media {
    border-radius: 50%;
    width: 36px;
    height: 36px;

    @include larger {
      width: 100%;
      height: 42px;
      border-radius: 10px;
      background-color: #f6f6f6;
    }
    &:hover {
      background-color: darken(white, 10%);
    }

    &-img {
      display: block;
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
  
  &__share {
    margin-bottom: 2rem;
    &--sticky {
      position: sticky;
      top: 75px;
    }
    &-name {
      font-weight: 600;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-size: 0.825rem;
      color: #7d8893;
    }
  }
}
